
/***********
****page****
***********/

*{
  scroll-behavior: smooth;
  margin: auto;
  font-family: 'Century Gothic', sans-serif;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

ul {
 list-style-type: none;
 text-align: center;
}

li {
 background: white;
 padding: 0.3em;
 margin: 0.3em;
}

h1 {
font-size: 20px;
}

a {
text-decoration: none;
color: black;
}

/***********
****body****
***********/

body{
  background-color: blue;
  margin: auto;
  background-image: url(obr/pozadie.jfif) ; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/***********
***wrapper**
***********/

#wrapper{
  width:960px;
  margin:0 auto;
}

/***********
***header***
***********/

header{
  background-color:#333;
  width:100%;
  height: max-content;
  text-align: center;  
}

header img{
  width: 180px;
  float: right;
}

/***********
*****NAV****
***********/

nav{
  padding-top: 15px;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color:#379683 ;
  color: #333;
}

nav a.active {
  background-color: white;
  color: black;
  
}

/***********
***obsah***
***********/

#obsah{
  width:100%;
  background-color:white;
  min-height: 700px;
  height: max-content;   
  padding: 0 0 20px 0;
}

#obsah iframe{
  width: 400px;
  height: 200px;
  margin: 0 0 0 280px;
}

#obsah h1{
  padding: 20px 0 3px 25px;
  margin: 0 0 20px 0 ;
}

.bfcontainer {
  position: relative;
  right: 29%;
  width: 200%;
  max-width: 400px;
}

.bfcontainer img {
  width: 200%;
  height: auto;
}

.bfcontainer .btn {
  width: 70%;
  height: 10%;
  font-family: 'Alfa Slab One';
  position: absolute;
  top: 80%;
  left: 180%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.bfcontainer .btn:hover {
  background-color: rgb(206, 206, 20);
  color: white;
}

/***********
****news****
***********/

iframe{
  margin:50px 0px 50px 200px;
}

#news h2{
  background-color: #379683;
  padding: 3px 0 3px 25px;
  margin: 20px 0 20px 0 ;
  font-size: 18px;
}

#news p{
  margin: 0 20px 20px 40px;
}

#news .link{
  text-decoration: underline;
  color: #379683;
}

#news .link:hover{
  background-color:#379683 ;
  color: white;
}

#news img{
  width: 400px;
  height: 300px;
  margin: 0 0 0 280px;
}

#news button {
  margin: 0 20px 20px 0;
  width: 26%;
  height: 10%;
  background-color: #333;
  color: white;
  font-size: 15px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#news button:hover{
  background-color: #379683;
  color: black;
}

.rokonews {
  font-size: 50px;
  background-color:	#379683;
  font-size: 50px;
  display: center;
  justify-content: center;
  text-align: center;
}

#firma h1 {
  padding: 3px 0 3px 25px;
  margin: 20px 0 20px 0 ;
  font-size: 30px;
}

#firma p {
  margin: 0 20px 20px 40px;
}

#firma .tlacidlo {
  margin: 0 20px 20px 40px;
  width: 15%;
  height: 10%;
  background-color: #333;
  color: white;
  font-size: 15px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#firma .tlacidlo:hover {
  background-color: #379683;
  color: black;
}


/***********
***footer***
***********/

footer{
  
  width:960px;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color:black; 
  color: white;  
  display: flex;
  text-align: center;
  justify-content: space-between;
}

footer a{
text-decoration: none;
color: white;

}

footer img{
width: 30px;
height: 30px;
}

/***********
**clenovia**
***********/

.clenovia {
overflow: hidden;
background-color: #379683;	
padding-bottom: 20px;
padding-top: 20px;
margin: 0 0 20px 0;

}

.clenovia img {
width: 150px;	
margin: 0 50px 0 50px;
float: left;
border-radius: 50%;
}

.clenovia h2 {
margin: 0 0 0 0;
font-family: 'Courier New', Courier, monospace;
color: black;
font-size: 30px;
}

.clenovia h3 {
margin: 2px 0 12px 0;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
color: #071013;
}

.clenovia p {	
font-family: 'Century Gothic', sans-serif;
color: black;
font-size: 18px;
}

/***********
**produkty**
***********/

#produkt{
padding: 0 25px 0 0 ;
font-family: 'Century Gothic', sans-serif;
color: black;
font-size: 18px;
}

#produkt img{
float: left;
width: 400px;  
margin: 30px 20px 0px 25px;
}

#produkt h1{ 
padding: 30px 0 20px  0;
font-family: 'Courier New', Courier, monospace;
color: black;
font-size: 30px;
font-weight: bolder;
}

#produkt span{
border-style: solid;
border-width: 5px; 
padding: 5px 5px 5px 5px;
border-radius: 5px;
border-color: #379683;
font-size: 20px;
font-weight: bold;
}

#item1{
  border:#379683 0.5px solid;
}

#item1:hover{
  background-color: #379683;
}

#item2{
  border:#379683 0.5px solid;
}

#item2:hover{
  background-color: #379683;
}

#item3{
  border:#379683 0.5px solid;
}

#item3:hover{
  background-color: #379683;
}

#item4{
  border:#379683 0.5px solid;
}

#item4:hover{
  background-color: #379683;
}

